<!DOCTYPE html>
<html lang="en">

<head>

  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <title>Stock Information Page</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Plotly -->
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Responsive css -->
  <link href="css/responsive.css" rel="stylesheet">
  <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>
  
  <!-- page header -->
  <div class="container">
      <div class = "row">
          <div class="col-md-12 jumbotron text-center">
            <h1 class="text-primary">Stock Market Overview</h1>
            <p> All your stock market data in one place</p>
          </div>
          <div>
            <a class="button btn btn-lg" href="/history" role="button">Stock History</a>
          </div>
      </div>
  </div>  

  <!-- ticker button -->
  <div class="container">
    <h2>Search by Company Ticker<span class="typed"></span></h1>
      <form class="form-inline">
      <div class="form-group">
        <label for="stockInput">Enter Ticker:</label>
        <input type="text" class="form-control" id="stockInput" placeholder="Ticker">
      </div>
      <button id="submit" type="submit" class="btn btn-default">Plot Stock</button>
      </form>
    <div class="container">
      <div id="daily_stock_chart"></div>    
    </div>
    <div class="container"
      <div id="spCompare"></div>
    </div>

  <!-- javascript -->
  <script>
    // button handler
    function handleSubmit(){
      // prevent page from refreshing
      Plotly.d3.event.preventDefault();

      // select input value from the form
      let stock=Plotly.d3.select("#stockInput").node().value;
      stock=stock.toUpperCase();
      // clear the input value
      Plotly.d3.select("#stockInput").node().value = "";

      // Build the plot with the new stock
      buildDailyPlot(stock);
      spCompare(stock);
      stockHistory(stock);
      // storing the data in mongo
      console.log('stock:', stock);
      urlhistory = `http://localhost:5000/stocks/${stock}`

    } 

    function stockHistory(stock){ 
      var url = `https://api.iextrading.com/1.0/stock/${stock}/batch?types=quote,news,chart&range=2y&last=5`;
      Plotly.d3.json(url, function(error, response){
        if (error) return console.warn(error);

        let close = response.quote.close;
        let open = response.quote.open;
        console.log(close);
        console.log(open);

        urlhistory = `http://localhost:5000/stocks/${stock}`
        
        data = {
          "open":open,
          "close":close,
          "stock":stock
        }

        Plotly.d3.json(urlhistory, function(error, data){
            if (error) return console.warn(error);
             
             console.log(data.response);
        });

      });

  //    let urlhistory = `http://localhost:5000/stocks/${stock}`
    //  console.log(urlhistory);
     // Plotly.d3.json(urlhistory, function(error, data) {
      //  if (error) return console.warn(error);
            
      //      console.log('stock', stock)
        //    console.log(urlhistory);
        //    console.log('stockHistory resonse : ')
        //    console.log(data.response);

  //  });
    }

    function buildDailyPlot(stock){
      var url = `https://api.iextrading.com/1.0/stock/${stock}/batch?types=quote,news,chart&range=2y&last=5`;
      var urlSP = `https://api.iextrading.com/1.0/stock/spy/batch?types=quote,news,chart&range=2y&last=1`
  
    Plotly.d3.json(url, function(error, response) {
  
      if (error) return console.warn(error);
  
      // Grab values from the response json object to build the plots
      var name = response.quote.companyName;
      let date = [];
      let close =[];
      for (let i = 0; i < response.chart.length; i++) { 
        var dates = response.chart[i].date;
        date.push(dates);
        var closingPrices = response.chart[i].close;
        close.push(closingPrices);}

    var trace1 = {
        type: "scatter",
        mode: "lines",
        name: name,
        x: date,
        y: close,
        line: {
            color: "#17BECF"
        }
        };

    var data = [trace1];

    var layout = {
        title: `${stock} Daily Stock Price`,
        xaxis: {
          range: [date[0], date[-1]],
          type: "date"
        },
        yaxis: {
          autorange: true,
          type: "linear"
        }
      };
  
      Plotly.newPlot("daily_stock_chart", data, layout);
    });
  } 
  
  // compare user ticker versus S&P 500
  function spCompare(stock) {

  var url = `https://api.iextrading.com/1.0/stock/${stock}/batch?types=quote,news,chart&range=2y&last=5`;
  var urlSP = `https://api.iextrading.com/1.0/stock/spy/batch?types=quote,news,chart&range=2y&last=1`

  Plotly.d3.json(url, function(error, response) {

  if (error) return console.warn(error);

  // Grab values from the response json object to build the plots
  var name = response.quote.companyName;
  let date = [];
  let close =[];
  let initialprice1 = [];
  for (let i = 0; i < response.chart.length; i++) { 
    var dates = response.chart[i].date;
    date.push(dates);
    var closingPrices = response.chart[i].close;
    close.push(closingPrices);
    var change1 =  closingPrices/response.chart[0].close;
    initialprice1.push(change1*100);}
  
  
  Plotly.d3.json(urlSP, function(error, response){
  
  if (error) return console.warn(error);
  
  var nameSP = response.quote.companyName;
  let dateSP = [];
  let closeSP =[];
  let initialprice2 = [];
  for (let i = 0; i < response.chart.length; i++) { 
    var datesSP = response.chart[i].date;
    dateSP.push(datesSP);
    var closingPricesSP = response.chart[i].close;
    closeSP.push(closingPricesSP);
    var change2 = closingPricesSP/response.chart[0].close;
    initialprice2.push(change2*100);}
    

  console.log(nameSP)
  console.log(dateSP)
  console.log(closeSP)


  var trace1 = {
    type: "scatter",
    mode: "lines",
    name: name,
    x: date,
    y: initialprice1,
    line: {
      color: "#17BECF"
    }
  };

  var trace2 = {
    type:"scatter",
    mode:"lines",
    name: nameSP,
    x:dateSP,
    y:initialprice2,
    line:{
      color:"black"
    }
  
  };
  var data = [trace1, trace2];
  
  var layout = {
    title: `Comparing ${stock} to S&P 500 Performance`,
    xaxis: {
      range: [date[0], date[-1]],
      type: "date"
    },
    yaxis: {
      autorange: true,
      type: "linear"
    }
  };

  Plotly.newPlot("spCompare", data, layout);
})});
}




   // Add event listener for submit button
   Plotly.d3.select("#submit").on("click", handleSubmit);

  </script>

  </html>
  
 
