<!DOCTYPE html>
<html lang="en">

<head>

  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <title>Stock Information Page</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Plotly -->
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Responsive css -->
  <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
  
 
      </script>
    </div>
  <!-- Stock Scrolling Ticker -->
  <script src="http://widgets.macroaxis.com/widgets/url.jsp?t=42"></script>

  <!-- page header -->
  <div class="container">
      <div class = "row">
          <div class="col-md-12 jumbotron text-center">
            <h1 class="text-primary">Stock Market Overview</h1>
            <p> All your stock market data in one place</p>
          </div>
      </div>
  </div>  

  <!-- ticker button -->
  <div class="container">
    <h2>Search by Company Ticker<span class="typed"></span></h1>
      <form class="form-inline">
      <div class="form-group">
        <label for="stockInput">Enter Ticker:</label>
        <input type="text" class="form-control" id="stockInput" placeholder="Ticker">
      </div>
      <button id="submit" type="submit" class="btn btn-default">Plot Stock</button>
      </form>
    <div class="container">
      <div id="daily_stock_chart"></div>    
    </div>
    <hr>
    <div class = "container">
      <table id="table" class="table table-striped table-condensed">
      </table>
    </div>
    <hr>
    <div class="container">
      <div id="spCompare">
      </div>
    </div>


  <!-- javascript -->
  <script>
    // button handler
    function handleSubmit(){
      // prevent page from refreshing
      Plotly.d3.event.preventDefault();

      // select input value from the form
      let stock=Plotly.d3.select("#stockInput").node().value;
      stock=stock.toUpperCase();
      // clear the input value
      Plotly.d3.select("#stockInput").node().value = "";

      // Build the plot with the new stock
      buildDailyPlot(stock);
      spCompare(stock);
      clearTable();
      stockTable(stock);
    } 
  
    // build chart of daily stock price
    function buildDailyPlot(stock){
      var url = `https://api.iextrading.com/1.0/stock/${stock}/batch?types=quote,news,chart&range=2y&last=5`;
      var urlSP = `https://api.iextrading.com/1.0/stock/spy/batch?types=quote,news,chart&range=2y&last=1`
  
    Plotly.d3.json(url, function(error, response) {
  
      if (error) return console.warn(error);
  
      // Grab values from the response json object to build the plots
      var name = response.quote.companyName;
      let date = [];
      let close =[];
      for (let i = 0; i < response.chart.length; i++) { 
        var dates = response.chart[i].date;
        date.push(dates);
        var closingPrices = response.chart[i].close;
        close.push(closingPrices);}

    var trace1 = {
        type: "scatter",
        mode: "lines",
        name: name,
        x: date,
        y: close,
        line: {
            color: "#17BECF"
        }
        };

    var data = [trace1];

    var layout = {
        title: `${stock} Daily Stock Price`,
        xaxis: {
          range: [date[0], date[-1]],
          type: "date"
        },
        yaxis: {
          autorange: true,
          type: "linear"
        }
      };
  
      Plotly.newPlot("daily_stock_chart", data, layout);
    });
  } 
  
  // compare user ticker versus S&P 500
  function spCompare(stock) {

  var url = `https://api.iextrading.com/1.0/stock/${stock}/batch?types=quote,news,chart&range=2y&last=5`;
  var urlSP = `https://api.iextrading.com/1.0/stock/spy/batch?types=quote,news,chart&range=2y&last=1`

  Plotly.d3.json(url, function(error, response) {

  if (error) return console.warn(error);

  // Grab values from the response json object to build the plots
  var name = response.quote.companyName;
  let date = [];
  let close =[];
  let initialprice1 = [];
  for (let i = 0; i < response.chart.length; i++) { 
    var dates = response.chart[i].date;
    date.push(dates);
    var closingPrices = response.chart[i].close;
    close.push(closingPrices);
    var change1 =  closingPrices/response.chart[0].close;
    initialprice1.push(change1*100);}
  
  
  console.log(name)
  console.log(date)
  console.log(close)
  Plotly.d3.json(urlSP, function(error, response){
  
  if (error) return console.warn(error);
  
  var nameSP = response.quote.companyName;
  let dateSP = [];
  let closeSP =[];
  let initialprice2 = [];
  for (let i = 0; i < response.chart.length; i++) { 
    var datesSP = response.chart[i].date;
    dateSP.push(datesSP);
    var closingPricesSP = response.chart[i].close;
    closeSP.push(closingPricesSP);
    var change2 = closingPricesSP/response.chart[0].close;
    initialprice2.push(change2*100);}
    

  console.log(nameSP)
  console.log(dateSP)
  console.log(closeSP)


  var trace1 = {
    type: "scatter",
    mode: "lines",
    name: name,
    x: date,
    y: initialprice1,
    line: {
      color: "#17BECF"
    }
  };

  var trace2 = {
    type:"scatter",
    mode:"lines",
    name: nameSP,
    x:dateSP,
    y:initialprice2,
    line:{
      color:"black"
    }
  
  };
  var data = [trace1, trace2];
  
  var layout = {
    title: `Comparing ${stock} to S&P 500 Performance`,
    xaxis: {
      range: [date[0], date[-1]],
      type: "date"
    },
    yaxis: {
      autorange: true,
      type: "linear"
    }
  };

  Plotly.newPlot("spCompare", data, layout);
})});
}

// Currency formatter Function. turns number into $
function CurrencyFormat(number){
  return new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 2}).format(number)
};

// Function to determine if number is in millions or billions and divide accordingly
function DivideNumber(number){
 if ( number /1000000000 <1){
  anumber = number /  1000000
  return fnumber = CurrencyFormat(anumber.toFixed(2)) + " million"
 } else {
   anumber = number /  1000000000
   return fnumber = CurrencyFormat(anumber.toFixed(2)) + " billion"
 }
};

 
function addRow(desc, output) {
    var table = document.getElementById("table");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = desc;
    cell2.innerHTML = output;
}

function clearTable(){
let tableHeaderRowCount = 0;
var table = document.getElementById('table');
var rowCount = table.rows.length;
for (var i = tableHeaderRowCount; i < rowCount; i++) {
    table.deleteRow(tableHeaderRowCount);
}
}

function stockTable(stock){
  url=`https://api.iextrading.com/1.0/stock/${stock}/stats`

  Plotly.d3.json(url, function(error, response) {

  if (error) return console.warn(error);

  // grab values from response json
  // company name
  let Stock_name= response.companyName;
  desc = "Company Name";
  addRow(desc, Stock_name);

  // company market cap
  let Stock_mrktcap=response.marketcap;
  // determine if market cap is in millions or billions
  Stock_mrktcap = DivideNumber(Stock_mrktcap);
  desc = "Market Cap";
  addRow(desc, Stock_mrktcap);
  // console.log(Stock_mrktcap);

  // Company Revenue
  let stock_revenue=response.revenue;
  stock_revenue=DivideNumber(stock_revenue);
  desc = "Revenue";
  addRow(desc,stock_revenue);
  // console.log(stock_revenue);

  // Company gross profit
  let stock_grossProfit = response.grossProfit;
  stock_grossProfit = DivideNumber(stock_grossProfit);
  desc = "Gross Profit";
  addRow(desc, stock_grossProfit);

  // Company EBIDTA
  let stock_ebitda = response.EBITDA;
  stock_ebitda = DivideNumber(stock_ebitda);
  desc = "EBIDTA";
  addRow(desc, stock_ebitda);
  
  // priceToSales
  let stock_priceToSales = response.priceToSales;
  stock_priceToSales = stock_priceToSales.toFixed(2);
  desc = "Price to Sales";
  addRow(desc, stock_priceToSales);

  // priceToBook
  let stock_priceToBook = response.priceToBook;
  stock_priceToBook = stock_priceToBook.toFixed(2);
  desc = "Price to Book";
  addRow(desc, stock_priceToBook);

  // institutionPercent
  let stock_institutionPercent = response.institutionPercent
  desc = "Percentage of Shares Owned by Institutional Investors";
  addRow(desc,stock_institutionPercent);

  // latestEPS
  let stock_latestEPS = response.latestEPS
  desc = "Latest EPS";
  addRow(desc, stock_latestEPS);

  // dividendRate (%)
  let stock_dividentRate = response.dividendRate
  desc = "Divident Rate (%)";
  addRow(desc, stock_dividentRate);

  // dividendYield
  let stock_dividendYield = response.dividendYield
  stock_dividendYield = stock_dividendYield.toFixed(2)
  desc = "Dividend Yield"
  addRow(desc, stock_dividendYield);

  // sharesOutstanding
  let stock_sharesout = response.sharesOutstanding
  desc = "Shares Outstanding";
  addRow(desc, stock_sharesout);
  })
}



   // Add event listener for submit button
   Plotly.d3.select("#submit").on("click", handleSubmit);

  </script>
  </body>
  </html>